---
import ArrowRight from '~/assets/images/new/arrow-right.svg';
import { Image } from 'astro:assets';

export interface Props {
  name: string;
  description?: string;
  logoImg: ImageMetadata;
  caseLink?: string;
  desktopImg: { default: ImageMetadata; x2?: ImageMetadata };
  mobileImg?: { default: ImageMetadata; x2?: ImageMetadata };
  technologiesImages: (
    | {
        object: ImageMetadata;
        SvgComponent?: undefined;
      }
    | {
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
        SvgComponent: (_props: Record<string, any>) => any;
        object?: undefined;
      }
  )[];
  classes?: string;
}
const {
  name,
  description,
  logoImg,
  caseLink,
  desktopImg,
  mobileImg,
  technologiesImages,
  classes,
} = Astro.props;

const getStackImageAltFromSrc = (src: string) =>
  src.slice(src.indexOf('stack/') + 'stack/'.length, src.indexOf('.')) +
  ' logo';
---

<div
  class:list={[
    'relative overflow-hidden rounded-xl px-6 md:h-[600px] md:px-16',
    classes,
  ]}
>
  <div
    class="relative z-10 flex flex-col gap-6 py-8 md:w-[40%] md:pb-16 md:pt-20"
  >
    <img src={logoImg.src} width={logoImg.width} height={logoImg.height} />
    <div class="text-3xl text-white md:text-3xl-desktop">{description}</div>
    <a
      href={caseLink}
      class="cursor-pointer text-xl text-white hover:opacity-80 md:text-xl-desktop"
      >{name} case study <ArrowRight
        class="ml-2.5 inline-block h-5 w-5 md:h-7 md:w-7"
      /></a
    >
    {
      technologiesImages && (
        <div class="flex flex-wrap gap-2">
          {technologiesImages?.map((technologyImage) => (
            <div class="box-border flex h-12 w-12 items-center justify-center rounded-xl border border-white/15 bg-white/5 p-2.5">
              {technologyImage.object ? (
                <Image
                  width={52}
                  height={52}
                  src={technologyImage.object}
                  class="h-[26px] w-[26px] object-contain"
                  alt={getStackImageAltFromSrc(technologyImage.object.src)}
                />
              ) : (
                <technologyImage.SvgComponent class="h-[26px] w-[26px]" />
              )}
            </div>
          ))}
        </div>
      )
    }
  </div>
  <div
    class="relative -mx-12 sm:-ml-18 sm:-mr-12 md:absolute md:inset-0 md:mx-0"
  >
    <img
      src={desktopImg.default.src}
      srcset={desktopImg.x2
        ? `${desktopImg.default.src} 1x, ${desktopImg.x2.src} 2x`
        : undefined}
      class="desktop-img z-10 w-full md:absolute md:bottom-0 md:left-[40%] md:w-[60%]"
    />
    {
      mobileImg && (
        <img
          src={mobileImg.default.src}
          srcset={
            mobileImg.x2
              ? `${mobileImg.default.src} 1x, ${mobileImg.x2.src} 2x`
              : undefined
          }
          class="absolute bottom-0 right-0 z-20 h-[110%] md:h-[65%] lg:h-[80%] xl:h-full"
        />
      )
    }
  </div>
</div>

<style></style>
