---
import swiftInvention from '~/assets/images/swift-white-logo.svg';
import Button from './Button.astro';
import { NavRoutes } from '~/constants/routes.astro';
import HamburgerIcon from '~/assets/images/new/hamburger.svg';
import CloseIcon from '~/assets/images/new/x-lg.svg';
import MobileNavMenu from './MobileNavMenu.astro';

const currentPath = Astro.url.pathname;
---

<header>
  <nav class="bg-transparent">
    <div class="max-w-8xl mx-auto px-4 lg:px-5">
      <div class="flex items-center justify-between h-18">
        <div class="flex-shrink-0 md:pl-18">
          <a href={'/'}>
            <img
              class="cursor-pointer"
              src={swiftInvention.src}
              alt="Swift Invention Logo"
            />
          </a>
        </div>
        <div
          class="hidden lg:flex items-center content-center justify-end lg:flex-1 lg:space-x-2 lg:mr-14"
        >
          <a href={NavRoutes.services.path}>
            <div
              class:list={[
                'group py-2 px-3 hover:opacity-100 cursor-pointer rounded-md hover:transition-all duration-200 text-primaryCol2 font-semibold text-base -mb-1 whitespace-nowrap',
                currentPath === NavRoutes.home.path ||
                currentPath === NavRoutes.services.path
                  ? 'opacity-100'
                  : 'opacity-60',
              ]}
            >
              {NavRoutes.services.name}
            </div>
          </a>
          <a href={NavRoutes.caseStudies.path}>
            <div
              class:list={[
                'group py-2 px-3 hover:opacity-100 cursor-pointer rounded-md hover:transition-all duration-200 text-primaryCol2 font-semibold text-base -mb-1 whitespace-nowrap',
                currentPath === NavRoutes.home.path ||
                currentPath === NavRoutes.caseStudies.path
                  ? 'opacity-100'
                  : 'opacity-60',
              ]}
            >
              {NavRoutes.caseStudies.name}
            </div>
          </a>
          <a href={NavRoutes.careers.path}>
            <div
              class:list={[
                'group py-2 px-3 hover:opacity-100 cursor-pointer rounded-md hover:transition-all duration-200 text-primaryCol2 font-semibold text-base -mb-1 whitespace-nowrap',
                currentPath === NavRoutes.home.path ||
                currentPath === NavRoutes.careers.path
                  ? 'opacity-100'
                  : 'opacity-60',
              ]}
            >
              {NavRoutes.careers.name}
            </div>
          </a>
          <a href={NavRoutes.aboutUs.path}>
            <div
              class:list={[
                'group py-2 px-3 hover:opacity-100 cursor-pointer rounded-md hover:transition-all duration-200 text-primaryCol2 font-semibold text-base -mb-1 whitespace-nowrap',
                currentPath === NavRoutes.home.path ||
                currentPath === NavRoutes.aboutUs.path
                  ? 'opacity-100'
                  : 'opacity-60',
              ]}
            >
              {NavRoutes.aboutUs.name}
            </div>
          </a>
          <div class="lg:ml-5">
            <Button classes="w-[154px]">Work with us</Button>
          </div>
        </div>
        <button
          class="w-11 h-11 flex justify-center items-center lg:hidden"
          id="mobile-menu-hamburger"
        >
          <HamburgerIcon />
        </button>
        <button
          class="w-11 h-11 justify-center items-center hidden lg:hidden"
          id="mobile-menu-close-btn"
        >
          <CloseIcon />
        </button>
      </div>
    </div>
    <MobileNavMenu id="mobile-menu-portal" />
  </nav>
</header>

<style></style>
<script>
  const hamburgerEl = document.getElementById(
    'mobile-menu-hamburger'
  ) as HTMLButtonElement | null;
  const closeBtnEl = document.getElementById(
    'mobile-menu-close-btn'
  ) as HTMLButtonElement | null;
  const mobileNavEl = document.getElementById('mobile-menu-portal');

  const onHamClick = () => {
    hamburgerEl?.classList.replace('flex', 'hidden');

    closeBtnEl?.classList.replace('hidden', 'flex');

    mobileNavEl?.classList.replace('hidden', 'flex');

    document.body.style.overflowY = 'hidden';
  };

  const onCloseClick = () => {
    hamburgerEl?.classList.replace('hidden', 'flex');

    closeBtnEl?.classList.replace('flex', 'hidden');

    mobileNavEl?.classList.replace('flex', 'hidden');

    document.body.style.overflowY = '';
  };

  hamburgerEl?.addEventListener('click', onHamClick);
  closeBtnEl?.addEventListener('click', onCloseClick);
  mobileNavEl?.addEventListener('click', onCloseClick);
</script>
