---
import SwiftInventionIcon from '~/assets/images/swift-white-logo.svg';
import Button from './Button.astro';
import { NavRoutes } from '~/constants/routes.astro';
import HamburgerIcon from '~/assets/images/new/hamburger.svg';
import CloseIcon from '~/assets/images/new/x-lg.svg';
import MobileNavMenu from './MobileNavMenu.astro';

const currentPath = Astro.url.pathname;
---

<header class="fixed top-0 left-0 bg-transparent z-[100] w-screen">
  <nav>
    <div class="px-4 md:px-20">
      <div class="flex items-center justify-between h-18">
        <div class="flex-shrink-0">
          <a href={'/'}>
            <SwiftInventionIcon class="h-6 w-[296px] cursor-pointer" />
          </a>
        </div>
        <div
          class="hidden lg:flex items-center content-center justify-end lg:flex-1 lg:space-x-2"
        >
          <a href={NavRoutes.services.path}>
            <div
              class:list={[
                'group py-2 px-3 hover:opacity-100 cursor-pointer rounded-md hover:transition-all duration-200 text-primaryCol2 font-semibold text-base -mb-1 whitespace-nowrap',
                currentPath === NavRoutes.home.path ||
                currentPath === NavRoutes.services.path
                  ? 'opacity-100'
                  : 'opacity-60',
              ]}
            >
              {NavRoutes.services.name}
            </div>
          </a>
          <a href={NavRoutes.caseStudies.path}>
            <div
              class:list={[
                'group py-2 px-3 hover:opacity-100 cursor-pointer rounded-md hover:transition-all duration-200 text-primaryCol2 font-semibold text-base -mb-1 whitespace-nowrap',
                currentPath === NavRoutes.home.path ||
                currentPath === NavRoutes.caseStudies.path
                  ? 'opacity-100'
                  : 'opacity-60',
              ]}
            >
              {NavRoutes.caseStudies.name}
            </div>
          </a>
          <a href={NavRoutes.careers.path}>
            <div
              class:list={[
                'group py-2 px-3 hover:opacity-100 cursor-pointer rounded-md hover:transition-all duration-200 text-primaryCol2 font-semibold text-base -mb-1 whitespace-nowrap',
                currentPath === NavRoutes.home.path ||
                currentPath === NavRoutes.careers.path
                  ? 'opacity-100'
                  : 'opacity-60',
              ]}
            >
              {NavRoutes.careers.name}
            </div>
          </a>
          <a href={NavRoutes.aboutUs.path}>
            <div
              class:list={[
                'group py-2 px-3 hover:opacity-100 cursor-pointer rounded-md hover:transition-all duration-200 text-primaryCol2 font-semibold text-base -mb-1 whitespace-nowrap',
                currentPath === NavRoutes.home.path ||
                currentPath === NavRoutes.aboutUs.path
                  ? 'opacity-100'
                  : 'opacity-60',
              ]}
            >
              {NavRoutes.aboutUs.name}
            </div>
          </a>
          <div class="lg:ml-5">
            <Button classes="w-[154px]">Work with us</Button>
          </div>
        </div>
        <button
          class="w-11 h-11 flex justify-center items-center lg:hidden"
          id="mobile-menu-hamburger"
        >
          <HamburgerIcon />
        </button>
        <button
          class="w-11 h-11 justify-center items-center hidden lg:hidden"
          id="mobile-menu-close-btn"
        >
          <CloseIcon />
        </button>
      </div>
    </div>
    <MobileNavMenu id="mobile-menu-portal" />
  </nav>
</header>

<style></style>
<script>
  import { gsap } from 'gsap';
  import { Flip } from 'gsap/Flip';

  gsap.registerPlugin(Flip);

  const disableScrollEvents = (e: Event) => {
    e.preventDefault();
  };
  const lockScroll = () => {
    document.body.style.overflow = 'hidden';

    document.addEventListener('touchmove', disableScrollEvents, {
      passive: false,
    });
  };

  const unlockScroll = () => {
    document.body.style.overflow = '';

    document?.removeEventListener('touchmove', disableScrollEvents);
  };

  const hamburgerEl = document.getElementById(
    'mobile-menu-hamburger'
  ) as HTMLButtonElement | null;
  const closeBtnEl = document.getElementById(
    'mobile-menu-close-btn'
  ) as HTMLButtonElement | null;
  const mobileNavEl = document.getElementById('mobile-menu-portal');
  hamburgerEl?.addEventListener('click', () => {
    if (mobileNavEl) {
      hamburgerEl?.classList.replace('flex', 'hidden');
      closeBtnEl?.classList.replace('hidden', 'flex');
      mobileNavEl?.classList.replace('hidden', 'flex');
      lockScroll();
      document
        .getElementsByTagName('header')[0]
        ?.classList.replace('bg-transparent', 'bg-surface');

      const state = Flip.getState(mobileNavEl, { props: 'transform' });

      mobileNavEl.classList.remove(
        'scale-[0.1]',
        'translate-x-[60%]',
        '-translate-y-[60%]'
      );
      mobileNavEl.classList.add('scale-100', 'translate-x-0', 'translate-y-18');

      Flip.from(state, {
        duration: 0.5,
        ease: 'circ.out',
      });
    }
  });
  closeBtnEl?.addEventListener('click', () => {
    if (mobileNavEl) {
      mobileNavEl.classList.add(
        'scale-[0.1]',
        'translate-x-[60%]',
        '-translate-y-[60%]'
      );
      mobileNavEl.classList.remove(
        'scale-100',
        'translate-x-0',
        'translate-y-18'
      );
      hamburgerEl?.classList.replace('hidden', 'flex');
      closeBtnEl?.classList.replace('flex', 'hidden');
      mobileNavEl?.classList.replace('flex', 'hidden');
      unlockScroll();
      if (window.scrollY < 30) {
        document
          .getElementsByTagName('header')[0]
          ?.classList.replace('bg-surface', 'bg-transparent');
      }
    }
  });
</script>
<script>
  window.addEventListener('scroll', () => {
    if (window.scrollY > 30) {
      document
        .getElementsByTagName('header')[0]
        ?.classList.replace('bg-transparent', 'bg-surface');
    } else {
      document
        .getElementsByTagName('header')[0]
        ?.classList.replace('bg-surface', 'bg-transparent');
    }
  });
</script>
